## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [18]:
! pwd

/Users/GaryKao/Desktop/Springboard/data_wrangling_json

In [19]:
! ls

data                              sliderule_dsi_json_exercise.ipynb

In [20]:
cd data

/Users/GaryKao/Desktop/Springboard/data_wrangling_json/data

In [21]:
! ls

world_bank_projects.json      world_bank_projects_less.json

### 1. Find the 10 countries with most projects

In [22]:
import pandas as pd
practice = pd.read_json('world_bank_projects.json')

In [25]:
practice.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [28]:
country = practice['countryshortname'] #select country column

In [30]:
counts = country.value_counts() # how many projects for each country

In [33]:
counts[0:10] # slice first 10 countries = 10 countries with most projects

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

### 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [81]:
major = practice['mjtheme_namecode']
major

0      [{u'code': u'8', u'name': u'Human development'...
1      [{u'code': u'1', u'name': u'Economic managemen...
2      [{u'code': u'5', u'name': u'Trade and integrat...
3      [{u'code': u'7', u'name': u'Social dev/gender/...
4      [{u'code': u'5', u'name': u'Trade and integrat...
5      [{u'code': u'6', u'name': u'Social protection ...
6      [{u'code': u'2', u'name': u'Public sector gove...
7      [{u'code': u'11', u'name': u'Environment and n...
8      [{u'code': u'10', u'name': u'Rural development...
9      [{u'code': u'2', u'name': u'Public sector gove...
10     [{u'code': u'10', u'name': u'Rural development...
11     [{u'code': u'10', u'name': u'Rural development...
12                       [{u'code': u'4', u'name': u''}]
13     [{u'code': u'5', u'name': u'Trade and integrat...
14     [{u'code': u'6', u'name': u'Social protection ...
15     [{u'code': u'10', u'name': u'Rural development...
16     [{u'code': u'10', u'name': u'Rural development...
17     [{u'code': u'8', u'name': u'Human development'...
18     [{u'code': u'8', u'name': u'Human development'...
19     [{u'code': u'2', u'name': u'Public sector gove...
20     [{u'code': u'7', u'name': u'Social dev/gender/...
21     [{u'code': u'9', u'name': u'Urban development'...
22     [{u'code': u'7', u'name': u'Social dev/gender/...
23     [{u'code': u'8', u'name': u'Human development'...
24     [{u'code': u'10', u'name': u'Rural development...
25     [{u'code': u'11', u'name': u'Environment and n...
26     [{u'code': u'4', u'name': u'Financial and priv...
27     [{u'code': u'11', u'name': u'Environment and n...
28     [{u'code': u'10', u'name': u'Rural development...
29     [{u'code': u'7', u'name': u'Social dev/gender/...
                             ...
470    [{u'code': u'5', u'name': u'Trade and integrat...
471    [{u'code': u'10', u'name': u'Rural development...
472    [{u'code': u'11', u'name': u'Environment and n...
473    [{u'code': u'11', u'name': u'Environment and n...
474    [{u'code': u'9', u'name': u'Urban development'...
475    [{u'code': u'4', u'name': u'Financial and priv...
476    [{u'code': u'10', u'name': u'Rural development...
477    [{u'code': u'4', u'name': u'Financial and priv...
478    [{u'code': u'2', u'name': u'Public sector gove...
479    [{u'code': u'7', u'name': u'Social dev/gender/...
480    [{u'code': u'2', u'name': u'Public sector gove...
481    [{u'code': u'8', u'name': u'Human development'...
482    [{u'code': u'10', u'name': u'Rural development...
483    [{u'code': u'11', u'name': u'Environment and n...
484    [{u'code': u'10', u'name': u'Rural development...
485    [{u'code': u'8', u'name': u'Human development'...
486    [{u'code': u'2', u'name': u'Public sector gove...
487    [{u'code': u'11', u'name': u'Environment and n...
488    [{u'code': u'8', u'name': u'Human development'...
489    [{u'code': u'9', u'name': u'Urban development'...
490    [{u'code': u'2', u'name': u'Public sector gove...
491    [{u'code': u'10', u'name': u'Rural development...
492    [{u'code': u'8', u'name': u'Human development'...
493    [{u'code': u'11', u'name': u'Environment and n...
494    [{u'code': u'6', u'name': u'Social protection ...
495    [{u'code': u'4', u'name': u'Financial and priv...
496    [{u'code': u'8', u'name': u'Human development'...
497    [{u'code': u'10', u'name': u'Rural development...
498    [{u'code': u'10', u'name': u'Rural development...
499    [{u'code': u'9', u'name': u'Urban development'...
Name: mjtheme_namecode, dtype: object

In [92]:
test =[]
for lis in major:
    for i, dic in enumerate(lis):
        test.append(dic.get('name'))

In [96]:
from collections import Counter

In [97]:
test_count = Counter(test)

In [99]:
test_count.most_common(11) # search for 11 b/c missing projects are also in top10 major theme projects

[(u'Environment and natural resources management', 223),
 (u'Rural development', 202),
 (u'Human development', 197),
 (u'Public sector governance', 184),
 (u'Social protection and risk management', 158),
 (u'Financial and private sector development', 130),
 (u'', 122),
 (u'Social dev/gender/inclusion', 119),
 (u'Trade and integration', 72),
 (u'Urban development', 47),
 (u'Economic management', 33)]

### 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [162]:
test_df = pd.DataFrame(test)
test_df.head()

                                       0
0                      Human development
1
2                    Economic management
3  Social protection and risk management
4                  Trade and integration

In [171]:
import numpy as np
fill_empty = test_df.replace('', np.NaN).fillna('missing name')
fill_empty

                                                 0
0                                Human development
1                                     missing name
2                              Economic management
3            Social protection and risk management
4                            Trade and integration
5                         Public sector governance
6     Environment and natural resources management
7            Social protection and risk management
8                      Social dev/gender/inclusion
9                      Social dev/gender/inclusion
10                           Trade and integration
11        Financial and private sector development
12           Social protection and risk management
13                                    missing name
14                        Public sector governance
15        Financial and private sector development
16    Environment and natural resources management
17                                    missing name
18                               Rural development
19                                    missing name
20                        Public sector governance
21                        Public sector governance
22                        Public sector governance
23                               Rural development
24                                    missing name
25                               Rural development
26           Social protection and risk management
27           Social protection and risk management
28    Environment and natural resources management
29                                    missing name
...                                            ...
1469                             Human development
1470                             Urban development
1471         Social protection and risk management
1472         Social protection and risk management
1473                             Urban development
1474                      Public sector governance
1475                      Public sector governance
1476                             Rural development
1477                                  missing name
1478                             Human development
1479                   Social dev/gender/inclusion
1480  Environment and natural resources management
1481                                  missing name
1482         Social protection and risk management
1483                                  missing name
1484      Financial and private sector development
1485                   Social dev/gender/inclusion
1486                             Human development
1487                         Trade and integration
1488                      Public sector governance
1489                             Human development
1490                             Rural development
1491                                  missing name
1492                             Rural development
1493                             Rural development
1494                             Rural development
1495                             Urban development
1496                             Human development
1497                         Trade and integration
1498      Financial and private sector development

[1499 rows x 1 columns]

In [157]:
# I don't know why this is not working.
for i in test_df[0]:
    if i == ' ':
        i = 'missing value'